@tailwind base;
@tailwind components;
@tailwind utilities;

#youtube-sidebar::-webkit-scrollbar {
  display: none;
}

#youtube-sidebar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
